.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px; /* Adjust this value to change the height of the footer */
  color: black;
  text-align: right;
  line-height: 50px; /* This should be the same as the height to vertically center the text */
  font-size: 14px; /* Adjust this value to change the font size */
}

.footer a {
  text-decoration: none;
  color: black;
}
